/* Dodaj te klasy do swojego pliku CSS */
.rbc-calendar {
    border: 1px solid #e5e7eb; /* Tailwind gray-200 */
    border-radius: 0.375rem; /* Tailwind rounded-md */
  }
  
  .rbc-toolbar {
    background-color: #f9fafb; /* Tailwind gray-50 */
    padding: 0.5rem;
    border-bottom: 1px solid #e5e7eb; /* Tailwind gray-200 */
    border-radius: 0.375rem 0.375rem 0 0; /* Tailwind rounded-t-md */
  }
  
  .rbc-event {
    background-color: rgb(79 70 229 / var(--tw-bg-opacity)) /* #4f46e5 */;
    border: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem; /* Tailwind rounded-md */
  }

  .rbc-event:hover{
    background-color: rgb(79 70 180 / var(--tw-bg-opacity)) /* #4f46e5 */;

  }