@tailwind base;
@tailwind components;
@tailwind utilities;


* {
      /* Stylizacja scrollbar */
  &::-webkit-scrollbar {
    width: 8px; /* Szerokość paska przewijania */
  }

  &::-webkit-scrollbar-track {
    background: rgba(17, 25, 40, 0.5); /* Tło ścieżki paska przewijania */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Kolor paska przewijania */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7); /* Kolor paska przewijania podczas najechania */
  }
  }

  .perspective {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  